In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as ppl

In [4]:
raw_data = pd.read_csv("data/train.csv")

Item_Identifier ---- Unique product ID

Item_Weight ---- Weight of product

Item_Fat_Content ---- Whether the product is low fat or not

Item_Visibility ---- The % of the total display area of all products in a store allocated to the particular product

Item_Type ---- The category to which the product belongs

Item_MRP ---- Maximum Retail Price (list price) of the product

Outlet_Identifier ---- Unique store ID

Outlet_Establishment_Year ---- The year in which the store was established

Outlet_Size ---- The size of the store in terms of ground area covered

Outlet_Location_Type ---- The type of city in which the store is located

*Outlet_Type ---- Whether the outlet is just a grocery store or some sort of supermarket

Item_Outlet_Sales ---- sales of the product in t particular store. This is the outcome variable to be predicted.

### Data Exploring

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

#### Dealing with missing

In [6]:
cnt = raw_data.shape[0]
missing = pd.Series()
for col in raw_data:
    n = raw_data[col].loc[raw_data[col].notna() == False].size
    if n != cnt:
        missing[col] = n
missing.loc[missing != 0]

Item_Weight    1463
Outlet_Size    2410
dtype: int64

In [7]:
raw_data.groupby(['Outlet_Identifier']).count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Identifier,,,,,,,,,,,
OUT010,555,555,555,555,555,555,555,0,555,555,555
OUT013,932,932,932,932,932,932,932,932,932,932,932
OUT017,926,926,926,926,926,926,926,0,926,926,926
OUT018,928,928,928,928,928,928,928,928,928,928,928
OUT019,528,0,528,528,528,528,528,528,528,528,528
OUT027,935,0,935,935,935,935,935,935,935,935,935
OUT035,930,930,930,930,930,930,930,930,930,930,930
OUT045,929,929,929,929,929,929,929,0,929,929,929
OUT046,930,930,930,930,930,930,930,930,930,930,930
OUT049,930,930,930,930,930,930,930,930,930,930,930

##### Outlet size

In [8]:
missing = raw_data.loc[raw_data['Outlet_Size'].notna() == False]
present = raw_data.loc[raw_data['Outlet_Size'].notna() == True]

In [11]:
missing.groupby(['Outlet_Identifier']).count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Identifier,,,,,,,,,,,
OUT010,555,555,555,555,555,555,555,0,555,555,555
OUT017,926,926,926,926,926,926,926,0,926,926,926
OUT045,929,929,929,929,929,929,929,0,929,929,929

Outlet size is completely missing on every occurrence

##### Item weight

In [12]:
missing = raw_data.loc[raw_data['Item_Weight'].notna() == False]
present = raw_data.loc[raw_data['Item_Weight'].notna() == True]

In [19]:
missing['Outlet_Identifier'].unique()

array(['OUT027', 'OUT019'], dtype=object)

Data missing from OUT027 and OUT019

Searching for identical goods in other outlets

In [88]:
missing_all_info = raw_data[raw_data['Item_Identifier'].isin(missing['Item_Identifier'])]
missing_all_info

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
6,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
...,...,...,...,...,...,...,...,...,...,...,...,...
8513,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8516,NCJ19,18.60,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

Finding goods with values to copy and with no clues

In [132]:
missings_found_value = missing_all_info.groupby('Item_Identifier').count().query('Item_Weight != 0')
missings_found_value = missings_found_value[['Item_Weight', 'Outlet_Identifier']]
missings_found_value

                 Item_Weight  Outlet_Identifier
Item_Identifier
DRA24                      5                  7
DRA59                      6                  8
DRB01                      2                  3
DRB25                      5                  6
DRB48                      6                  7
...                      ...                ...
NCZ17                      5                  6
NCZ18                      6                  7
NCZ30                      6                  7
NCZ53                      4                  5
NCZ54                      5                  7

[1138 rows x 2 columns]

Filling with found data

In [150]:
res = pd.DataFrame()
for item_id in missings_found_value.iloc[:, 0].index:
    res[item_id]

DRA24
DRA59
DRB01
DRB25
DRB48
DRC01
DRC25
DRC36
DRC49
DRD12
DRD13
DRD15
DRD24
DRD25
DRD27
DRD60
DRE12
DRE13
DRE15
DRE25
DRE37
DRE48
DRE49
DRE60
DRF01
DRF03
DRF15
DRF23
DRF25
DRF27
DRF36
DRF37
DRF49
DRG01
DRG03
DRG13
DRG23
DRG27
DRG36
DRG37
DRG48
DRG49
DRH01
DRH03
DRH11
DRH13
DRH15
DRH23
DRH25
DRH36
DRH37
DRH39
DRH49
DRH51
DRI01
DRI03
DRI11
DRI23
DRI25
DRI37
DRI39
DRI51
DRI59
DRJ01
DRJ23
DRJ24
DRJ37
DRJ39
DRJ47
DRJ59
DRK11
DRK12
DRK13
DRK23
DRK35
DRK37
DRK39
DRK49
DRK59
DRL01
DRL11
DRL35
DRL37
DRL47
DRL59
DRL60
DRM23
DRM35
DRM37
DRM47
DRM48
DRM59
DRN36
DRN47
DRN59
DRO59
DRP35
DRQ35
DRY23
DRZ11
DRZ24
FDA01
FDA02
FDA03
FDA04
FDA07
FDA08
FDA10
FDA11
FDA13
FDA14
FDA15
FDA16
FDA19
FDA20
FDA22
FDA23
FDA26
FDA28
FDA32
FDA34
FDA35
FDA36
FDA38
FDA39
FDA43
FDA44
FDA45
FDA46
FDA47
FDA49
FDA50
FDA51
FDA52
FDA55
FDA56
FDA57
FDB02
FDB04
FDB05
FDB08
FDB09
FDB14
FDB17
FDB21
FDB22
FDB23
FDB26
FDB27
FDB32
FDB33
FDB34
FDB35
FDB36
FDB37
FDB38
FDB39
FDB40
FDB41
FDB44
FDB45
FDB49
FDB52
FDB53
FDB56
FDB57
FDB58
FDB59
FDC02
FDC04
FDC08
FDC10
FDC11
FDC14
FDC16
FDC17
FDC20
FDC21
FDC28
FDC29
FDC32
FDC33
FDC34
FDC35
FDC37
FDC41
FDC44
FDC45
FDC46
FDC47
FDC48
FDC50
FDC52
FDC53
FDC57
FDC58
FDC59
FDC60
FDD04
FDD05
FDD08
FDD09
FDD10
FDD11
FDD14
FDD16
FDD20
FDD26
FDD28
FDD29
FDD33
FDD35
FDD36
FDD38
FDD39
FDD40
FDD41
FDD46
FDD50
FDD51
FDD52
FDD53
FDD57
FDD58
FDD59
FDE02
FDE05
FDE08
FDE09
FDE10
FDE11
FDE16
FDE21
FDE22
FDE24
FDE28
FDE29
FDE32
FDE33
FDE35
FDE36
FDE38
FDE40
FDE41
FDE45
FDE46
FDE50
FDE51
FDE53
FDE56
FDE57
FDE58
FDF04
FDF05
FDF09
FDF12
FDF16
FDF20
FDF21
FDF24
FDF26
FDF28
FDF29
FDF33
FDF34
FDF40
FDF41
FDF44
FDF46
FDF50
FDF52
FDF56
FDF57
FDF58
FDG02
FDG04
FDG05
FDG08
FDG09
FDG10
FDG12
FDG14
FDG16
FDG17
FDG21
FDG22
FDG24
FDG29
FDG31
FDG32
FDG33
FDG34
FDG35
FDG38
FDG40
FDG44
FDG46
FDG52
FDG56
FDG59
FDG60
FDH02
FDH04
FDH05
FDH08
FDH09
FDH10
FDH12
FDH14
FDH16
FDH17
FDH19
FDH21
FDH26
FDH27
FDH28
FDH31
FDH32
FDH33
FDH34
FDH35
FDH38
FDH40
FDH41
FDH45
FDH48
FDH50
FDH52
FDH56
FDH57
FDH60
FDI04
FDI07
FDI10
FDI14
FDI15
FDI16
FDI19
FDI20
FDI21
FDI22
FDI24
FDI26
FDI27
FDI28
FDI32
FDI33
FDI41
FDI44
FDI46
FDI50
FDI56
FDI57
FDJ02
FDJ07
FDJ08
FDJ10
FDJ14
FDJ15
FDJ21
FDJ22
FDJ26
FDJ28
FDJ32
FDJ33
FDJ34
FDJ36
FDJ40
FDJ44
FDJ45
FDJ46
FDJ48
FDJ53
FDJ55
FDJ56
FDJ57
FDJ58
FDK02
FDK03
FDK04
FDK08
FDK09
FDK10
FDK15
FDK16
FDK20
FDK22
FDK24
FDK25
FDK26
FDK27
FDK28
FDK32
FDK33
FDK34
FDK36
FDK38
FDK40
FDK41
FDK43
FDK44
FDK45
FDK48
FDK51
FDK52
FDK55
FDK58
FDL02
FDL03
FDL04
FDL08
FDL09
FDL10
FDL12
FDL13
FDL15
FDL16
FDL20
FDL21
FDL22
FDL24
FDL26
FDL28
FDL32
FDL33
FDL34
FDL36
FDL38
FDL39
FDL40
FDL43
FDL44
FDL45
FDL46
FDL48
FDL52
FDL56
FDL57
FDM01
FDM03
FDM10
FDM14
FDM15
FDM20
FDM21
FDM22
FDM24
FDM25
FDM27
FDM28
FDM34
FDM36
FDM39
FDM44
FDM46
FDM50
FDM56
FDM58
FDN01
FDN02
FDN03
FDN04
FDN08
FDN09
FDN10
FDN12
FDN13
FDN15
FDN20
FDN21
FDN23
FDN24
FDN25
FDN27
FDN32
FDN33
FDN34
FDN38
FDN39
FDN44
FDN45
FDN48
FDN50
FDN56
FDN57
FDN58
FDN60
FDO01
FDO03
FDO04
FDO08
FDO09
FDO10
FDO11
FDO13
FDO15
FDO19
FDO23
FDO24
FDO25
FDO27
FDO28
FDO31
FDO32
FDO34
FDO36
FDO37
FDO38
FDO39
FDO40
FDO44
FDO45
FDO46
FDO49
FDO50
FDO51
FDO52
FDO56
FDO57
FDO58
FDO60
FDP04
FDP09
FDP10
FDP11
FDP13
FDP15
FDP21
FDP22
FDP23
FDP24
FDP25
FDP26
FDP27
FDP31
FDP33
FDP34
FDP37
FDP38
FDP39
FDP40
FDP45
FDP46
FDP48
FDP49
FDP51
FDP52
FDP56
FDP58
FDP59
FDP60
FDQ03
FDQ04
FDQ07
FDQ08
FDQ09
FDQ10
FDQ11
FDQ12
FDQ13
FDQ14
FDQ15
FDQ19
FDQ20
FDQ22
FDQ23
FDQ24
FDQ25
FDQ26
FDQ27
FDQ28
FDQ31
FDQ32
FDQ33
FDQ34
FDQ36
FDQ37
FDQ39
FDQ40
FDQ45
FDQ48
FDQ49
FDQ51
FDQ52
FDQ55
FDQ56
FDQ57
FDQ58
FDQ59
FDR01
FDR04
FDR07
FDR08
FDR09
FDR12
FDR14
FDR15
FDR19
FDR21
FDR22
FDR23
FDR24
FDR25
FDR27
FDR31
FDR32
FDR33
FDR35
FDR37
FDR40
FDR43
FDR44
FDR45
FDR46
FDR47
FDR48
FDR51
FDR52
FDR55
FDR56
FDR58
FDR59
FDR60
FDS01
FDS02
FDS03
FDS08
FDS09
FDS10
FDS11
FDS12
FDS13
FDS16
FDS21
FDS23
FDS25
FDS26
FDS27
FDS28
FDS31
FDS32
FDS33
FDS34
FDS35
FDS39
FDS40
FDS43
FDS44
FDS45
FDS46
FDS47
FDS48
FDS51
FDS52
FDS55
FDS57
FDS59
FDT03
FDT07
FDT08
FDT09
FDT11
FDT12
FDT13
FDT14
FDT15
FDT16
FDT19
FDT20
FDT21
FDT22
FDT24
FDT26
FDT27
FDT32
FDT36
FDT37
FDT40
FDT46
FDT47
FDT48
FDT49
FDT50
FDT51
FDT55
FDT56
FDT57
FDT58
FDT59
FDT60
FDU01
FDU02
FDU04
FDU07
FDU08
FDU09
FDU11
FDU12
FDU13
FDU14
FDU19
FDU20
FDU21
FDU22
FDU23
FDU24
FDU25
FDU26
FDU27
FDU28
FDU32
FDU33
FDU34
FDU35
FDU36
FDU37
FDU38
FDU39
FDU43
FDU44
FDU45
FDU46
FDU50
FDU51
FDU52
FDU55
FDU56
FDU57
FDU58
FDU59
FDV01
FDV02
FDV03
FDV04
FDV07
FDV08
FDV09
FDV10
FDV13
FDV15
FDV16
FDV19
FDV20
FDV21
FDV23
FDV25
FDV26
FDV27
FDV28
FDV32
FDV36
FDV37
FDV38
FDV39
FDV43
FDV45
FDV46
FDV47
FDV48
FDV49
FDV51
FDV55
FDV56
FDV57
FDV60
FDW01
FDW02
FDW04
FDW07
FDW08
FDW09
FDW11
FDW12
FDW13
FDW15
FDW16
FDW19
FDW20
FDW21
FDW22
FDW23
FDW24
FDW25
FDW26
FDW27
FDW28
FDW31
FDW32
FDW34
FDW35
FDW36
FDW37
FDW38
FDW39
FDW45
FDW46
FDW47
FDW48
FDW49
FDW50
FDW51
FDW52
FDW55
FDW56
FDW59
FDW60
FDX01
FDX03
FDX04
FDX07
FDX08
FDX09
FDX10
FDX13
FDX14
FDX15
FDX20
FDX21
FDX22
FDX24
FDX25
FDX26
FDX28
FDX31
FDX32
FDX33
FDX34
FDX35
FDX36
FDX37
FDX38
FDX39
FDX40
FDX44
FDX45
FDX46
FDX47
FDX48
FDX49
FDX50
FDX52
FDX55
FDX56
FDX57
FDX58
FDX59
FDX60
FDY02
FDY03
FDY04
FDY07
FDY08
FDY09
FDY10
FDY13
FDY15
FDY16
FDY21
FDY25
FDY26
FDY27
FDY28
FDY31
FDY32
FDY33
FDY34
FDY35
FDY36
FDY37
FDY38
FDY39
FDY40
FDY44
FDY45
FDY46
FDY47
FDY48
FDY49
FDY50
FDY51
FDY52
FDY55
FDY56
FDY59
FDY60
FDZ01
FDZ02
FDZ07
FDZ08
FDZ10
FDZ12
FDZ14
FDZ15
FDZ16
FDZ19
FDZ20
FDZ21
FDZ22
FDZ23
FDZ25
FDZ26
FDZ27
FDZ31
FDZ32
FDZ33
FDZ35
FDZ37
FDZ38
FDZ39
FDZ40
FDZ43
FDZ44
FDZ45
FDZ47
FDZ48
FDZ49
FDZ50
FDZ51
FDZ52
FDZ55
FDZ56
FDZ58
FDZ59
FDZ60
NCA05
NCA06
NCA42
NCA53
NCB06
NCB07
NCB18
NCB19
NCB30
NCB31
NCB42
NCB43
NCC07
NCC18
NCC19
NCD18
NCD30
NCD31
NCD42
NCD43
NCD54
NCD55
NCE06
NCE07
NCE19
NCE30
NCE31
NCE42
NCE43
NCE54
NCE55
NCF07
NCF18
NCF19
NCF31
NCF42
NCG06
NCG07
NCG18
NCG30
NCG43
NCG54
NCH06
NCH07
NCH18
NCH30
NCH42
NCH43
NCH54
NCH55
NCI06
NCI17
NCI18
NCI29
NCI30
NCI31
NCI42
NCI43
NCI54
NCI55
NCJ05
NCJ06
NCJ18
NCJ19
NCJ29
NCJ30
NCJ31
NCJ42
NCJ43
NCJ54
NCK05
NCK06
NCK17
NCK18
NCK29
NCK31
NCK42
NCK53
NCK54
NCL05
NCL07
NCL18
NCL29
NCL30
NCL31
NCL41
NCL53
NCL54
NCL55
NCM05
NCM06
NCM07
NCM17
NCM18
NCM19
NCM26
NCM29
NCM30
NCM43
NCM54
NCN14
NCN18
NCN19
NCN29
NCN30
NCN41
NCN42
NCN43
NCN53
NCO02
NCO05
NCO06
NCO07
NCO14
NCO17
NCO29
NCO30
NCO41
NCO42
NCO53
NCO54
NCO55
NCP02
NCP05
NCP06
NCP17
NCP18
NCP29
NCP30
NCP41
NCP42
NCP43
NCP50
NCP53
NCP55
NCQ05
NCQ06
NCQ17
NCQ18
NCQ29
NCQ30
NCQ38
NCQ41
NCQ42
NCQ43
NCQ50
NCQ53
NCQ54
NCR05
NCR17
NCR18
NCR29
NCR30
NCR38
NCR41
NCR50
NCR53
NCR54
NCS05
NCS06
NCS17
NCS29
NCS38
NCS41
NCS53
NCS54
NCT06
NCT17
NCT18
NCT29
NCT30
NCT41
NCT42
NCT53
NCU05
NCU06
NCU17
NCU18
NCU29
NCU42
NCV05
NCV06
NCV29
NCV30
NCV41
NCV54
NCW17
NCW18
NCW29
NCW41
NCW42
NCW53
NCX05
NCX06
NCX18
NCX29
NCX30
NCX41
NCX42
NCX54
NCY05
NCY06
NCY18
NCY29
NCY41
NCY53
NCY54
NCZ05
NCZ06
NCZ17
NCZ18
NCZ30
NCZ53
NCZ54

Filling the no-clues ones

In [174]:
missing_no_info = missing_all_info.groupby('Item_Identifier').nunique().query('Item_Weight == 0').index
missing_no_info

Index(['FDE52', 'FDK57', 'FDN52', 'FDQ60'], dtype='object', name='Item_Identifier')

In [175]:
raw_data[raw_data['Item_Identifier'].isin(missing_no_info)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1922,FDK57,NaN,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
4187,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [189]:
raw_data.loc[:, ['Item_Weight', 'Item_Type']].groupby('Item_Type').median()

                       Item_Weight
Item_Type
Baking Goods                11.650
Breads                      10.600
Breakfast                   10.695
Canned                      12.150
Dairy                       13.350
Frozen Foods                12.850
Fruits and Vegetables       13.100
Hard Drinks                 10.100
Health and Hygiene          12.150
Household                   13.150
Meat                        12.350
Others                      14.500
Seafood                     11.650
Snack Foods                 13.150
Soft Drinks                 11.800
Starchy Foods               13.175

In [128]:
raw_data.query('Item_Identifier == "FDQ60"')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

#### Data likehood

In [ ]:
cols = pd.Series()
for col in raw_data.columns:
    cols[col] = raw_data[col].nunique()
cols.sort_values(ascending=False)

Item_Visibility              7880
Item_MRP                     5938
Item_Outlet_Sales            3493
Item_Identifier              1559
Item_Weight                   415
Item_Type                      16
Outlet_Identifier              10
Outlet_Establishment_Year       9
Item_Fat_Content                5
Outlet_Type                     4
Outlet_Size                     3
Outlet_Location_Type            3
dtype: int64

In [ ]:
data = raw_data[['Outlet_Identifier', 'Item_Identifier', 'Item_Outlet_Sales', 'Item_Visibility', 'Item_MRP', 'Item_Weight', 'Item_Type', 'Item_Fat_Content', 'Outlet_Establishment_Year', 'Outlet_Type', 'Outlet_Size', 'Outlet_Location_Type']]

In [ ]:
goods = data[['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales', 'Item_Visibility', 'Item_MRP', 'Item_Weight', 'Item_Type', 'Item_Fat_Content']].sort_values('Item_Identifier')

In [ ]:
outlets = data[['Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Type', 'Outlet_Size', 'Outlet_Location_Type']].groupby("Outlet_Identifier").first()
outlets

,Outlet_Establishment_Year,Outlet_Type,Outlet_Size,Outlet_Location_Type
Outlet_Identifier,,,,
OUT010,1998,Grocery Store,None,Tier 3
OUT013,1987,Supermarket Type1,High,Tier 3
OUT017,2007,Supermarket Type1,None,Tier 2
OUT018,2009,Supermarket Type2,Medium,Tier 3
OUT019,1985,Grocery Store,Small,Tier 1
OUT027,1985,Supermarket Type3,Medium,Tier 3
OUT035,2004,Supermarket Type1,Small,Tier 2
OUT045,2002,Supermarket Type1,None,Tier 2
OUT046,1997,Supermarket Type1,Small,Tier 1
OUT049,1999,Supermarket Type1,Medium,Tier 1

In [ ]:
def get_outlet_info(key):
    display(goods.loc[goods['Outlet_Identifier'] == key].drop(['Outlet_Identifier'], axis=1).sort_index())

In [ ]:
get_outlet_info('OUT049')

,Item_Identifier,Item_Outlet_Sales,Item_Visibility,Item_MRP,Item_Weight,Item_Type,Item_Fat_Content
0,FDA15,3735.1380,0.016047,249.8092,9.300,Dairy,Low Fat
2,FDN15,2097.2700,0.016760,141.6180,17.500,Meat,Low Fat
10,FDY07,1516.0266,0.000000,45.5402,11.800,Fruits and Vegetables,Low Fat
12,FDX32,1589.2646,0.100014,145.4786,15.100,Fruits and Vegetables,Regular
17,FDP49,718.3982,0.069196,54.3614,9.000,Breakfast,Regular
...,...,...,...,...,...,...,...
8451,FDK21,3254.4304,0.010028,249.6408,7.905,Snack Foods,Low Fat
8467,FDV31,3881.6140,0.000000,175.2370,9.800,Fruits and Vegetables,LF
8470,FDW27,1551.3140,0.151088,155.1314,5.860,Meat,Regular
8475,NCS17,378.1744,0.080627,92.5436,18.600,Health and Hygiene,Low Fat
8479,FDL10,2579.3092,0.039554,99.1042,8.395,Snack Foods,Low Fat